<div>
    <h1>Products</h1>
    <div id='products'></div>
    <form id="deleteProduct">
        <label>Ingresar id de producto a eliminar: </label>
        <input type="text" id="id"/>
        <button type="submit">Enviar</button>
    </form>
    <form id="addProduct">
        <label><h3>Ingresar producto a agregar: </h3></label>
        <label>Ingresar Nombre</label>
        <input type="text" id="title"/>
        <label>Ingresar descripción</label>
        <input type="text" id="description"/>
        <label>Ingresar precio</label>
        <input type="text" id="price"/>
        <label>Ingresar thumbnail</label> 
        <input type="text" id="thumbnail"/>
        <label>Ingresar codigo</label>
        <input type="text" id="code"/>
        <label>Ingresar numero de stock</label>
        <input type="text" id="stock"/>
        <button type="submit">Enviar</button>
    </form>
</div>
<script src='/socket.io/socket.io.js'></script>
<script>
    const socket = io();

    const productsHtml = document.getElementById('products');
    const deleteForm = document.getElementById('deleteProduct');
    const addForm = document.getElementById('addProduct');

    const makeHtmlProductList = (products) => {
        if(products.length === 0){
            return `<div>There is no products yet</div>`;
        }else{
            return products.map((product) => {
            return `<div>
                        <p>Product Id: ${product.id}</p>
                        <p>Product Title: ${product.title}</p>
                        <p>Product Price: ${product.price}</p>
                    </div>`;
            }).join(' ');
        }
    }

    socket.on('listProducts', (data) => {
        let html = makeHtmlProductList(data);
        productsHtml.innerHTML = html;
    });

    deleteForm.addEventListener('submit', function (e) {
        e.preventDefault();
        const deleteInput = document.getElementById("id").value;
        socket.emit('delete_event', deleteInput);
    });

    addForm.addEventListener('submit', function (e){
        e.preventDefault();
        const addTitle = document.getElementById('title');
        const addDescription = document.getElementById('description');
        const addPrice = document.getElementById('price');
        const addThumbnail = document.getElementById('thumbnail');
        const addCode = document.getElementById('code');
        const addStock = document.getElementById('stock');

        socket.emit('add_event', {title: addTitle.value ,description: addDescription.value ,price: parseInt(addPrice.value) , thumbnail: addThumbnail.value ,code: addCode.value, stock: parseInt(addStock.value), status: true});
    })
</script>